<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
            id="ru.ozon.uitp.e2e.views.category"
            name="Specter">
      </category>
      <view
            id="ru.ozon.uitp.e2e.views.TestsView"
            category="ru.ozon.uitp.e2e.views.category"
            name="Тесты"
            class="ru.ozon.uitp.e2e.views.TestsView"
            restorable="true">
      </view>
      <view
            id="ru.ozon.uitp.e2e.views.ResultsView"
            category="ru.ozon.uitp.e2e.views.category"
            name="Результаты"
            class="ru.ozon.uitp.e2e.views.ResultsView"
            restorable="true">
      </view>
   </extension>
</plugin>
